/*=============main===========*/
body{
   margin: 0; 
   padding: 0; 
   font-family: Arial, Helvetica, sans-serif;  

background-image: url(images/gateway1.jpg);
    height: 100px;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat:repeat-x;
    background-attachment: fixed;

}

/*=============header========*/
#header img{
    display: block;
    margin: auto;
    height : 10;
    padding-bottom: 50px;
}
/*=============tabs-top=======*/

#tabs-top{
    position:absolute;
    top     : 80px;
    left    : 0;
    z-index : 500;
    width   : 100%;
    height  : 30px;
    background-color:rgba(2, 4, 39, 0.952);
}

#tabs-top a{
    float   : left;
    display : block;
    width   : 33%;
    height  :35px;
    font-weight : 700;
    color:rgb(237, 241, 241);
    text-align:center;
    text-decoration:none;
    padding-top:12px;  
}


#content{
    padding: top 5px;
    padding-bottom: 45;
}

/*=============bottom tabs=======*/

#tabs-bottom{
    position:fixed;
    bottom  :0px;
    left    : 0;
    z-index : 500;
    width   : 100%;
    height  : 30px;
    background-color:rgba(2, 4, 39, 0.952);
}
#tabs-bottom a{
    float : left;
    display : block;
    width : 33%;
    height : 20px;
    font-weight : 700;
    color       : white;
    text-align  : center;
    text-decoration : none;
    padding-top     : none;
}



/*============info-box=======*/

a.info-box{
    background: (225, 225, 225, .8);
    text-decoration: none;
}
.info-box img{
    height: 100px;;
    margin: 20px;
    text-decoration: none;
}
.info-box h2{
    padding:0;
    color:white;
    text-decoration: none;
}

.info-box p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    font-size: large;
    color:white;
    text-decoration: none;
}
#info-box p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    font-size: large;
    color:white;
    text-decoration: none; 
}

/*=============infor-box=full===========*/

#info-box-full{
    width   : 90%;
    margin  : auto;
    margin-top : 12px;
    padding    : 10px;
}

#info-box-full h3{
    padding:0;
    text-decoration: none;
    color:white;
}

#info-box-full p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    font-size: large;
    color:white;
    text-decoration: none;
}

/*=============form==================*/
input{
    width: 100%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

textarea{
    width: 100%;
    height :25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

.button{
    display : block;
    text-decoration : none;
    text-align  : center;
    color       : white;
    font-size   : 16px;
    font-weight : 600;
    margin : 12px 0;
    padding : 8px 0;
}

h1{
    color:white;
}

